@charset "utf-8";
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, ul, li, form, label, table, tbody, thead, tr, th, td, footer,  nav {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	vertical-align:baseline;
}
footer, header, nav {
	display:block;
}

html, body{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	background-color:#fff;
	font-size:62.5%;
	color:#424d54;
	line-height:1.4;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

ul{
	list-style:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:inherit;
	line-height:1.2;
	font-family:inherit;
	font-size:100%;
}
p {
	font-family:inherit;
	font-weight:inherit;
	font-size:100%;
	line-height:1.4;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#666;
}
button, input, textarea{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	font-family:inherit;
}
sup{
	position:relative;
	font-size:60%;
	vertical-align:super;
}

.fs-no-scroll {
	height:100%;
	overflow:hidden;
}
.fs-has-layout::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

/*LAYOUT COMMON*/
.fs-page,
.fs-header,
.fs-container,
.fs-footer,
.fs-section, 
.header-inr,
.fs-inr,
.footer-inr
.fs-title,
.fs-box, 
.fs-box-inr {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}
.fs-page{
	width: 100%;
	overflow:hidden;
}

.fs-bg,
.fs-pic,
.fs-txt{
	position:relative;
	display:block
}
.fs-pic{
	line-height:0;
}
.fs-bg{
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.fs-bg::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto
}
.fs-pic img{	
	width:100%;
}
.fs-bg {
	position:relative;
	width:100%;
	height:auto;
}
.fs-bg div {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.fs-pc{
	display:block;
}
.fs-sp {
	display:none;
}


/*SELECT LIST*/
.fs-select{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	text-align:left;
	z-index:2;
}
.fs-select-header {
	position:relative;
	display:block;
	height:4rem;
	padding:0 1.5rem;
	line-height:3.8rem;
	background-color: #fff;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	z-index:2;
}
.no-border .fs-select-header{
	border:none !important;
}
.ready .fs-select-header{
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fs-select-header span {
	position:absolute;
	left:1.5rem;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	font-size:1.5rem;
	max-width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	color:#000;
}
.fs-select-header::after{
	content: '';
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 1.3rem;
    height: 1rem;
    background: url(../images/icon-dropdow.png) no-repeat center center;
    background-size: 100% auto;
    transform: translateY(-50%);
}
.fs-select-box{
	position:absolute;
	top:100%;
	left:0;
	display:block;
	width:100%;
	height:auto;
	min-width:100%;
	margin-top:0.5rem;
	visibility:hidden;
	opacity:0;
}
.ready .fs-select-box{
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
.fs-select-box ul{
	position:relative;
	display:block;
	max-height:300px;
	background-color:#fff;
	box-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
	overflow:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
}
.fs-select-box li {
	position:relative;
	display:block;
	border-bottom:1px solid #dedede;
	padding:0.7rem 1.5rem;
	cursor:pointer;
	font-size:1.3rem;
}
.fs-select-box li:last-child{
	border:none;
}
.ready .fs-select-box li{
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
/* .fs-open-select .fs-select-header{
	border:1px solid #5fc3b2;
} */


.fs-open-select .fs-select-box{
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s;
}
.fs-select-box li.selected{
	color:#dd452a;
}



/*BUTTON*/
.fs-box-but{
	position:relative;
	display:block;
}
.fs-buts{
	position:relative;
	display:block;
}
.fs-but{
	display:inline-block;
	font-size:1.6rem;
}


/*CHECKBOX*/
.fs-checkbox label, .fs-radio label {
	display:inline-block;
	vertical-align:middle;
	color:#000;
	font-size:1.3rem;
	cursor:pointer;
	padding:0 0 0 1rem;
}
.fs-checkbox li, .fs-radio li{
	position:relative;
}
.fs-checkbox label::before, .fs-checkbox input[type='checkbox'], 
.fs-radio input[type='radio'], .fs-radio label::before, .fs-radio label::after {
	display:inline-block;
	vertical-align:middle;
	width:2rem;
	height:2rem;
}
.fs-checkbox input[type='checkbox'], .fs-radio input[type='radio'] {
	position:relative;
	opacity:0;
	cursor:pointer;
}
.fs-checkbox label::before, .fs-radio label::before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	border:1px solid #9b9b9b;
}
.fs-checkbox label::after {
	content:'';
	position:absolute;
	left:0.4rem;
	top:0.4rem;
	height:0.7rem;
	width:1.2rem;
	border-left:2px solid #9b9b9b;
	border-bottom:2px solid #9b9b9b;
	opacity:0;
}
.fs-checkbox label a{
	color:#c90;
}

.fs-radio li{
	display:inline-block;
	vertical-align:middle;
	margin-right:2rem;
}
.fs-radio label::before{
	-webkit-border-radius:50%;
	border-radius:50%;
}
.fs-radio label::after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	-webkit-border-radius:50%;
	border-radius:50%;
	background-color:#000;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	opacity:0;
}

/*HEADER AREA*/
.fs-header{
	position: relative;
	top:0;
    left:0;
    background-color:transparent;
	z-index:12;
}
.header-inr{
	position:relative;
	width: 100%;
	max-width: 139rem;
	margin: 0 auto;
	text-align:right;
	font-size:0;
	background-color: #fff;
	border: 1px solid rgb(146, 148, 151);
}
.hdr-inr{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1.0791% 3.5%;
	align-items: center;
}
.logo{
	position: relative;
	flex: 0 0 21.5827%;
    width: 21.5827%;
	height:auto;
	z-index: 1;
}
.logo img{
	display:block;
}

.fs-nav{
	position: relative;
	display: block;
	flex: 0 0 28%;
	max-width: 28%;
}
.nav-inr{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	flex-wrap: wrap;
	width: 100%;
	font-size: 0;
}
.item-nav{
	position: relative;
    display: inline-block;
    width: auto;
}
.item-nav:first-child{
	margin-left: 0;
}
.item-nav p, .item-nav p a{
	text-align: center;
	font-size: 1.8rem;
	color: #006E00;
}
.item-nav .tel{
	font-size: 2.7rem;
	color: #FF8200;
}

/*Title*/
.fs-title {
	margin-bottom:3rem;
}
.fs-title h1, .fs-title h2{
	color:#2e2e2e;
	font-size:4.8rem;
	text-transform:uppercase;
	text-align:center;
}
.small-title{
	position:relative;
	color:#2e2e2e;
	font-size:2.5rem;
	text-transform:uppercase;
}

/*Banner*/
/* .swiper-pagination, .swiper-button-next, .swiper-button-prev{
	display:none
}
.show-controls .swiper-button-next, .show-controls .swiper-button-prev, .show-controls .swiper-pagination{
	display:block;
}
.banner-slider{
	width:100%;
	height:auto;
}
.item-slide{
	position:relative;
	width:100%;
	height:auto;
}
.fs-banner .swiper-pagination{
	width:100%;
	bottom:1.5rem;
} */


/*FORM*/
.lv5{
	z-index:5;
}
.lv4{
	z-index:4;
}
.lv3{
	z-index:3;
}
.fs-hide-label{
	display:block;
	font-size:0;
	line-height:0;
}
.form-box{
	max-width:600px;
	margin:0 auto;
}
.fs-group{
	position:relative;
	display:block;
	margin-bottom:2rem
}
.fs-group input[type='text'], 
.fs-group input[type='email'], 
.fs-group input[type='number'], 
.fs-group input[type='password']{
	display:block;
	width:100%;
	height:4rem;
	line-height:4rem;
	font-size:1.5rem;
	padding:0 1.5rem;
	background-color: #fff;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#000;
}
.fs-group input[type='text']::placeholder,
.fs-group input[type='email']::placeholder,
.fs-group input[type='number']::placeholder,
.fs-group input[type='password']::placeholder,
.fs-group textarea::placeholder {
	color:#b1b1b1;
}
.fs-group input[type='text']:-ms-input-placeholder,
.fs-group input[type='email']:-ms-input-placeholder,
.fs-group input[type='number']:-ms-input-placeholder,
.fs-group input[type='password']:-ms-input-placeholder,
.fs-group textarea:-ms-input-placeholder { 
  color:#b1b1b1;
}
.fs-group input[type='text']::-ms-input-placeholder,
.fs-group input[type='password']::-ms-input-placeholder,
.fs-group textarea::-ms-input-placeholder{
	color:#b1b1b1;
}
.fs-group input[type='text']::-moz-placeholder,
.fs-group input[type='email']::-moz-placeholder,
.fs-group input[type='number']::-moz-placeholder,
.fs-group input[type='password']::-moz-placeholder,
.fs-group textarea::-moz-placeholder {
	color:#b1b1b1; 
	opacity:1;
}
.fs-group input[type='text']:focus,
.fs-group input[type='email']:focus,
.fs-group input[type='number']:focus,
.fs-group input[type='password']:focus,
.fs-group textarea:focus {
	border-color:#5fc3b2;
}
.fs-group .fs-select-header span{
	color:#b1b1b1;
}
.fs-group .not-default .fs-select-header span{
	color:#000;
}

.fs-caption{
	font-size:1.3rem;
	margin-bottom:0.5rem;
	font-weight:700;
}
.fs-group textarea{
	display:block;
	width:100%;
	height:10rem;
	padding:1.5rem;
	font-size:1.3rem;
	color:#5f6a7d;
	border:1px solid #cbcbcb;
	-webkit-border-radius:4px;
	border-radius:4px;
	resize:none;
	overflow:auto;
	color:#000;
}

.fs-but{
	width: 100%;
	height: 4.5rem;
	background: -webkit-linear-gradient(90deg, rgba(255,163,0,1) 0%, rgba(255,123,0,1) 100%);
    background: linear-gradient(90deg, rgba(255,163,0,1) 0%, rgba(255,123,0,1) 100%);
    color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.8rem;
}


/*FOOTER AREA*/
.fs-footer{
	background-color:#fff;
	z-index:2;
}
.footer-inr {
	position:relative;
	display: block;
	width: 100%;
	max-width: 139rem;
	margin: 0 auto;
}
.footer-top{
	position: relative;
	display: block;
	width: 100%;
	padding: 2.8776% 2.34375%;
	background-color: #375736;
}
.footer-top p{
	color: #fff;
	font-size: 1.8rem;
	margin-bottom: 0.3rem;
}
.footer-bot{
	position: relative;
	display: block;
	width: 100%;
}
.fs-logo-ft{
	position: absolute;
    top: 55%;
    left: 2%;
	width: 34.6762%;
}
.fs-logo-ft img{
	width: 100%;
}
.footer-bot .fs-social{
	position: relative;
	display: block;
	background-color: #F6F6F6;
	padding: 0.52083vw 5%;
}
.fs-social p{
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
}
.fs-social ul{
	font-size: 0;
}
.fs-social li{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
	width: 3rem;
}
.fs-social li a{
	display: block;
	width: 100%;
	height: 100%;
}
.fs-social li a img{
	width: 100%;
}


/*Slider*/
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    list-style:none;
    padding:0;
    z-index:1;
  }
  .swiper-wrapper {
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-transition-property:-webkit-transform;
    transition-property:-webkit-transform;
    -o-transition-property:transform;
    transition-property:transform;
    transition-property:transform, -webkit-transform;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    -webkit-transform:translate3d(0px, 0, 0);
    transform:translate3d(0px, 0, 0);
  }
  .swiper-slide {
	-webkit-flex-shrink:0;
	-ms-flex-negative:0;
	flex-shrink:0;
	width:100%;
	height:100%;
	position:relative;
	-webkit-transition-property:-webkit-transform;
	transition-property:-webkit-transform;
	-o-transition-property:transform;
	transition-property:transform;
	transition-property:transform, -webkit-transform;
	background-color:#fff;
  }
  .swiper-button-prev, .swiper-button-next {
	position:absolute;
	top:50%;
	width:30px;
	height:auto;
	z-index:10;
	cursor:pointer;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.swiper-button-prev::before, .swiper-button-next::before{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding-top:156.6666%;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image:url(../images/prev.png);
	left:3%;
	right:auto;
	background-size:cover;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image:url(../images/next.png);
	right:3%;
	left:auto;
	background-size:cover;
}
.swiper-pagination {
    position:absolute;
    text-align:center;
    -webkit-transition:300ms opacity;
    -o-transition:300ms opacity;
    transition:300ms opacity;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    z-index:10;
  }
  .swiper-pagination-bullet {
	position:relative;
	width:1.1rem;
	height:1.1rem;
	display:inline-block;
    margin:0 0.5rem;
	opacity:0.5;
  }
  .swiper-pagination-bullet::before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor:pointer;
  }
  .swiper-pagination-bullet-active{
	  opacity: 1;
  }
  .swiper-pagination-bullet-active::before {
		background-color:#fff;
  }
  .swiper-container-fade .swiper-slide {
    pointer-events:none;
    -webkit-transition-property:opacity;
    -o-transition-property:opacity;
    transition-property:opacity;
  }
  .swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events:none;
  }
  .swiper-container-fade .swiper-slide-active,
  .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events:auto;
  }

@media screen and (max-width: 1389px){
	/* Header */
	.header-inr {
		max-width: 110rem;
	}
	.item-nav p, .item-nav p a {
		font-size: 1.4rem;
	}
	.item-nav .tel {
		font-size: 2.3rem;
	}

	/* Button */
	.fs-but {
		font-size: 1.4rem;
		height: 3.8rem;
	}

	/* Select */
	.fs-select-header::after {
		width: 1rem;
		height: 0.7rem;
	}


	/* Footer */
	.footer-top p, .fs-social p {
		font-size: 1.6rem;
	}
}


/*RESPONSIVE*/
@media screen and (max-width:1100px) {
	.fs-pc{
		display:none;
	}
	.fs-sp{
		display:block;
	}

	/*HEADER AREA*/
	.fs-header{
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:auto;
	}
	.hotline-inr{
		padding:0 5.83333vw 0 0;
		height:100%;
	}
	.header-top{
		height:20vw;
		padding:0;
	}
	.nav-but{
		position:absolute;
		left:3.61111vw;
		top:7.87037vw;
		width:8.3333vw;
		height:6.0185vw;
		background:url(../images/menu-icon.png) no-repeat center center;
		background-size:100% auto;
		cursor:pointer;
		z-index:2;
	}
	.logo{
		left:50%;
		top:3.98vw;
		width:15.64vw;
		margin-left:-7.82vw;
	}
	.header-bot{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		z-index:10;
		-webkit-transform:translateX(-100%);
		transform:translateX(-100%);
		background-color:#fff;
		overflow:hidden;
	}
	.nav-title {
		position:relative;
		display:block;
		width:100%;
		height:auto;
	}
	.close-menu{
		position:absolute;
		right:8.3333vw;
		top:7.4vw;
		width:4.7222vw;
		height:auto;
		z-index:3;
		cursor:pointer;
	}
	.close-menu img{
		width:100%;
	}
	.fs-navigation {
        position:absolute;
        top:0;
        left:0;
        width:100%;
		height:100%;
		overflow:hidden;
		overflow-y:auto;
		-webkit-overflow-scrolling:touch;
	}
	.fs-navigation ul{
		display:block;
		width:100%;
		margin:0;
	}
	.fs-navigation > ul{
		position:relative;
		width:96%;
		margin:0 auto;
		border-top:1px solid #6a6a6a;
		overflow:hidden;
	}
    .fs-navigation li {
		position:static;
		display:block;
		margin:0 0 1px 0;
		padding:0;
		height:auto;
	}
	.fs-navigation li.fs-sp{
		display:block;
	}
	.fs-navigation li a {
		padding:0;
		color:#191919;
		font-size:3.426vw;
		text-align:left;
	}
	.toggleMenu{
		position:absolute;
		right:4vw;
		top:2.2vw;
		width:9.375vw;
		height:9.375vw;
		cursor:pointer;
		z-index:2;
	}
  .open-menu{
		height:100%;
		overflow:hidden;
	}
	.open-menu .header-bot {
		-webkit-transform:none;
		transform:none;
	}


	/*Page*/



	/*Title*/
	.fs-title h1, .fs-title h2, .small-title{
		font-size:5.37vw;
	}
	.fs-title{
		margin-bottom:7.4vw;
	}
	


	/*Banner*/
	/* .fs-banner.show-controls .swiper-button-prev, .fs-banner.show-controls .swiper-button-next{
		display:none;
	}
	.swiper-pagination-bullet{
		width:2rem;
		height:2rem;
	}
	.swiper-pagination-bullet::before{
		width:1.6rem;
		height:1.6rem;
	}
	.swiper-pagination-bullet-active{
		background-color:transparent;
		border:1px solid #fff;
		-webkit-border-radius:50%;
		border-radius:50%;
		-webkit-transform:scale(1.02);
		transform:scale(1.02);
	}
	.swiper-pagination-bullet-active::before{
		background-color:transparent;
	} */


	/*FOOTER AREA*/
	/* .footer-bot{
		padding:1.1vw 2.7777vw 2.03vw 2.7777vw;
	}
	.copyright p{
		font-size:2.6vw;
	} */

}
@media screen and (max-width:520px) { 

}
@media screen and (max-width:390px) { 
}